<ion-header>
    <ion-toolbar>
      <ion-button slot="start" >
        <ion-menu-button color="light"></ion-menu-button>
      </ion-button>
      <ion-title style="text-align: center">Checkout</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
       <h1>Cart</h1>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product" *ngFor="let item of productDescriptionarr,let i = index">
    <div class="product-image">
      <img src="{{'http://localhost:3000/images/'+ item.product_image}}" alt="{{item.product_name}}">
    </div>
    <div class="product-details">
      <div class="product-title">{{item.product_name}}</div>
      <p class="product-description">{{item.product_material}}</p>
    </div>
    <div class="product-price">{{item.product_price}}</div>
    <div class="product-quantity">
      <input type="number" value="{{cartarr[i].quantity}}" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product" (click)="deletecart()">
        Remove
      </button>
    </div>
    <div class="product-line-price">{{itemTotal[i]}}</div>
  </div>



  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">{{subtotal}}</div>
    </div>
    <div class="totals-item">
      <label>GST (18%)</label>
      <div class="totals-value" id="cart-tax">{{gst}}</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">{{shipping}}</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">{{grandtotal}}</div>
    </div>
  </div>
      
      <button class="checkout" (click)="continue()">Continue to Payment</button>
      <button class="checkout" (click)="paytm()">PayTM</button>

</div>




</ion-content>
