<ion-header>
  <ion-toolbar>
	  <ion-button slot="start" >
		  <ion-menu-button></ion-menu-button>
	  </ion-button>
    <ion-title style="text-align: center">Product Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="scrollbar">
    <!-- <div class="header">
        <div class="container">
          <div class="header-top">
                <div class="logo">
              <a href="index.html"><h6>Online Furnish</h6><h2>KALPTARU</h2><h6>Furniture</h6></a>
             </div>
             <div class="header_right">
             <ul class="social">
              <li><a href=""> <i class="fb"> </i> </a></li>
              <li><a href=""><i class="tw"> </i> </a></li>
              <li><a href=""><i class="utube"> </i> </a></li>
              <li><a href=""><i class="pin"> </i> </a></li>
              <li><a href=""><i class="instagram"> </i> </a></li>
             </ul>
            <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
           </div>
           <div class="about_box" style="margin-left: 80%;">
            <ul class="login">
              <li class="login_text"><a href="login.html">Login</a></li>
              <li class="wish"><a href="checkout.html">Wish List</a></li>
              <div class='clearfix'></div>
              </ul>
              <div class="cart_bg">
                    <ul class="cart">
                     <a href="checkout.html">
                    <h4><i class="cart_icon"> </i><p>Cart: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</p><div class="clearfix"> </div></h4>
                 </a>
      
                   <div class="clearfix"> </div>
                        </ul>
                  </div>
      
            </div>
          </div>
          </div>
        <div class="main">
          <div class="content_box">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="menu_box">
                       <h3 class="menu_head">Menu</h3>
                        <ul class="nav" *ngFor="let cat of categoryarr,let i=index">
                         <li><a (click)="onClickCategory(i)">{{cat.category_name}}</a></li>
                      </ul>
                     </div>
      
              </div>
              <div class="col-md-9">
                <div class="dreamcrub">
                  <ul class="breadcrumbs">
                          <li class="home">
                             <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                             <span>&gt;</span>
                          </li>
                          <li class="home">&nbsp;
                              About&nbsp;
                              <span>&gt;</span>&nbsp;
                          </li>
                      </ul>
                      <ul class="previous">
                        <li><a href="index.html">Back to Previous Page</a></li>
                      </ul>
                      <div class="clearfix"></div>
               </div>
               <div class="mens-toolbar">
                       <div class="sort">
                          <div class="sort-by">
                      <label>Sort By</label>
                      <select>
                                      <option value="">
                              Position                </option>
                                      <option value="">
                              Name                </option>
                                      <option value="">
                              Price                </option>
                      </select>
      
                         </div>
                   </div>
                     <ul class="women_pagenation dc_paginationA dc_paginationA06">
                   <li><a href="#" class="previous">Page:</a></li>
                   <li class="active"><a href="#">1</a></li>
                   <li><a href="#">2</a></li>
                   </ul>
                      <div class="clearfix"></div>
                  </div>
              <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
                <div class="cbp-vm-options">
                  <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid">Grid View</a>
                  <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">List View</a>
                </div>
                <div class="pages">
                 <div class="limiter visible-desktop">
                     <label>Show</label>
                        <select>
                                  <option value="" selected="selected">
                          9                </option>
                                  <option value="">
                          15                </option>
                                  <option value="">
                          30                </option>
                        </select> per page
                     </div>
                  </div> -->
                  <!-- products start -->
                <!-- <div class="clearfix"></div>
                <ul>
                  <li class="simpleCart_shelfItem" *ngFor="let item of productarr" (click)="onClickProduct(item.product_id)">
                    <a class="cbp-vm-image" >
                    <div class="inner_content clearfix">
                      <div class="product_image">
                        <img  src="{{'http://localhost:3000/images/' + item.product_image}}" class="img-responsive" alt=""/>
                        <div class="product_container">
                           <div class="cart-left">
                           <p class="title">{{item.product_name}}</p>
                           </div>
                           <div class="mount item_price price"> ₹ {{item.product_price}}</div>
                           <div class="clearfix"></div>
                           </div>
                        </div>
                                 </div>
                              </a>
                    <div class="cbp-vm-details">
                      {{item.product_material}}
                    </div>
                    <a class="button item_add cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
                  </li>
      
                </ul>
              </div>
              <script src="js/cbpViewModeSwitch.js" type="text/javascript"></script>
                      <script src="js/classie.js" type="text/javascript"></script>
            </div>
           </div>
          </div>
            </div>
          <div class="container">
            <div class="brands">
              <ul class="brand_icons">
                <li><img src='../../assets/images/icon1.png' class="img-responsive" alt=""/></li>
                <li><img src='../../assets/images/icon2.png' class="img-responsive" alt=""/></li>
                <li><img src='../../assets/images/icon3.png' class="img-responsive" alt=""/></li>
                <li><img src='../../assets/images/icon4.png' class="img-responsive" alt=""/></li>
                <li class="last"><img src='../../assets/images/icon5.png' class="img-responsive" alt=""/></li>
              </ul>
            </div>
            </div>
            <div class="container">
              <div class="instagram_top">
                <div class="instagram text-center">
              <h3>Our Collections</h3>
            </div>
                <ul class="instagram_grid">
              <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="../../assets/images/i1.jpg" class="img-responsive"alt=""/></a></li>
              <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="../../assets/images/i2.jpg" class="img-responsive" alt=""/></a></li>
              <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="../../assets/images/i3.jpg" class="img-responsive" alt=""/></a></li>
              <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="../../assets/images/i4.jpg" class="img-responsive" alt=""/></a></li>
              <li><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="../../assets/images/i5.jpg" class="img-responsive" alt=""/></a></li>
              <li class="last_instagram"><a class="popup-with-zoom-anim" href="#small-dialog1"><img src="../../assets/images/i6.jpg" class="img-responsive" alt=""/></a></li>
              <div class="clearfix"></div>
              <div id="small-dialog1" class="mfp-hide">
              <div class="pop_up">
                <h4>A Sample Photo Stream</h4>
                <img src="../../assets/images/i_zoom.jpg" class="img-responsive" alt=""/>
              </div>
              </div>
            </ul>
            </div>
      
            </div>
            </div>
              <div class="footer">
          <div class="container">
            <div class="footer-grid">
              <h3>Category</h3>
              <ul class="list1">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="about.html">Eshop</a></li>
                <li><a href="about.html">Features</a></li>
                <li><a href="about.html">New Collections</a></li>
                <li><a href="typo.html">Typo</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="footer-grid">
              <h3>Our Account</h3>
              <ul class="list1">
                <li><a href="login.html">Your Account</a></li>
                <li><a href="contact.html">Personal information</a></li>
                <li><a href="contact.html">Addresses</a></li>
                <li><a href="#">Discount</a></li>
                <li><a href="checkout.html">Orders history</a></li>
                <li><a href="about.html">Search Terms</a></li>
              </ul>
            </div>
            <div class="footer-grid">
              <h3>Our Support</h3>
              <ul class="list1">
                <li><a href="contact.html">Site Map</a></li>
                <li><a href="about.html">Search Terms</a></li>
                <li><a href="about.html">Advanced Search</a></li>
                <li><a href="about.html">Mobile</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="contact.html">Mobile</a></li>
                <li><a href="contact.html">Addresses</a></li>
              </ul>
            </div>
            <div class="footer-grid">
              <h3>Newsletter</h3>
              <p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
              <div class="search_footer">
                <input type="text" class="text" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
                <input type="submit" value="Subscribe">
              </div>
              <img src="../../assets/images/payment.png" class="img-responsive" alt=""/>
            </div>
             <div class="clearfix"> </div>
          </div>
        </div>
        <div class="footer_bottom">
        </div> -->
      














        <!-- new template -->
        	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>

				<span class="topbar-child1">
					Free shipping for standard order over $100
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
						fashe@example.com
					</span>

					<div class="topbar-language rs1-select2">
						<select class="selection-1" name="time">
							<option>USD</option>
							<option>EUR</option>
						</select>
					</div>
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a href="index.html" class="logo">
          <img src="../../assets//fashe-colorlib/images/icons/logo.png" alt="IMG-LOGO">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="index.html">Home</a>
								<ul class="sub_menu">
									<li><a href="index.html">Homepage V1</a></li>
									<li><a href="home-02.html">Homepage V2</a></li>
									<li><a href="home-03.html">Homepage V3</a></li>
								</ul>
							</li>

							<li>
								<a href="product.html">Shop</a>
							</li>

							<li class="sale-noti">
								<a href="product.html">Sale</a>
							</li>

							<li>
								<a href="cart.html">Features</a>
							</li>

							<li>
								<a href="blog.html">Blog</a>
							</li>

							<li>
								<a href="about.html">About</a>
							</li>

							<li>
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div class="header-icons">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="../../assets//fashe-colorlib/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<img src="../../assets//fashe-colorlib/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="../../assets//fashe-colorlib/images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="../../assets//fashe-colorlib/images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="../../assets//fashe-colorlib/images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="index.html" class="logo-mobile">
				<img src="../../assets//fashe-colorlib/images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="../../assets//fashe-colorlib/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="../../assets//fashe-colorlib/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="../../assets//fashe-colorlib/images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="../../assets//fashe-colorlib/images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="../../assets//fashe-colorlib/images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
        </div>
        <!-- menu start -->

        
        <!-- menu end -->
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class=" topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a href="index.html">Home</a>
						<ul class="sub-menu">
							<li><a href="index.html">Homepage V1</a></li>
							<li><a href="home-02.html">Homepage V2</a></li>
							<li><a href="home-03.html">Homepage V3</a></li>
						</ul>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a href="product.html">Shop</a>
					</li>

					<li class="item-menu-mobile">
						<a href="product.html">Sale</a>
					</li>

					<li class="item-menu-mobile">
						<a href="cart.html">Features</a>
					</li>

					<li class="item-menu-mobile">
						<a href="blog.html">Blog</a>
					</li>

					<li class="item-menu-mobile">
						<a href="about.html">About</a>
					</li>

					<li class="item-menu-mobile">
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<!-- Title Page -->
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(../../assets/images/banner2.jpg);">
		<h2 class="l-text2 t-center">
			Furniture
		</h2>
		<p class="m-text13 t-center">
			New Patterns Furniture Collection 2019
		</p>
	</section>


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->
						<h4 class="m-text14 p-b-7">
							Categories
						</h4>

						<ul class="p-b-54">
							<li class="p-t-4">
								<a  class="s-text13 active1" (click)="showAllCategory()">
									All
								</a>
							</li>

							<li class="p-t-4" *ngFor="let item of categoryarr,let i=index">
								<a  class="s-text13" (click)="onClickCategory(i)">
									{{item.category_name}}
								</a>
							</li>

						
						</ul>

						<!--  -->
						<h4 class="m-text14 p-b-32">
							Filters
						</h4>

						<div class="filter-price p-t-22 p-b-50 bo3">
							<div class="m-text15 p-b-17">
								Price
							</div>

							<div class="wra-filter-bar">
								<div id="filter-bar"></div>
							</div>

							<div class="flex-sb-m flex-w p-t-16">
								<div class="w-size11">
									<!-- Button -->
									<button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
										Filter
									</button>
								</div>

								<div class="s-text3 p-t-10 p-b-10">
									Range: $<span id="value-lower">610</span> - $<span id="value-upper">980</span>
								</div>
							</div>
						</div>

						<!-- <div class="filter-color p-t-22 p-b-50 bo3">
							<div class="m-text15 p-b-12">
								Color
							</div>

							<ul class="flex-w">
								<li class="m-r-10">
									<input class="checkbox-color-filter" id="color-filter1" type="checkbox" name="color-filter1">
									<label class="color-filter color-filter1" for="color-filter1"></label>
								</li>

								<li class="m-r-10">
									<input class="checkbox-color-filter" id="color-filter2" type="checkbox" name="color-filter2">
									<label class="color-filter color-filter2" for="color-filter2"></label>
								</li>

								<li class="m-r-10">
									<input class="checkbox-color-filter" id="color-filter3" type="checkbox" name="color-filter3">
									<label class="color-filter color-filter3" for="color-filter3"></label>
								</li>

								<li class="m-r-10">
									<input class="checkbox-color-filter" id="color-filter4" type="checkbox" name="color-filter4">
									<label class="color-filter color-filter4" for="color-filter4"></label>
								</li>

								<li class="m-r-10">
									<input class="checkbox-color-filter" id="color-filter5" type="checkbox" name="color-filter5">
									<label class="color-filter color-filter5" for="color-filter5"></label>
								</li>

								<li class="m-r-10">
									<input class="checkbox-color-filter" id="color-filter6" type="checkbox" name="color-filter6">
									<label class="color-filter color-filter6" for="color-filter6"></label>
								</li>

								<li class="m-r-10">
									<input class="checkbox-color-filter" id="color-filter7" type="checkbox" name="color-filter7">
									<label class="color-filter color-filter7" for="color-filter7"></label>
								</li>
							</ul>
						</div> -->

						<div class="search-product pos-relative bo4 of-hidden">
							<input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search Products...">

							<button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
								<i class="fs-12 fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!--  -->
					<div class="flex-sb-m flex-w p-b-35">
						<div class="flex-w">
							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting">
									<option>Default Sorting</option>
									<option>Popularity</option>
									<option>Price: low to high</option>
									<option>Price: high to low</option>
								</select>
							</div>

							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting">
									<option>Price</option>
									<option>$0.00 - $50.00</option>
									<option>$50.00 - $100.00</option>
									<option>$100.00 - $150.00</option>
									<option>$150.00 - $200.00</option>
									<option>$200.00+</option>

								</select>
							</div>
						</div>

						<!-- <span class="s-text8 p-t-5 p-b-5">
							Showing 1–12 of 16 results
						</span> -->
					</div>

					<!-- Product -->
					<div class="row" >
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50" *ngFor="let prod of productarr">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
									<img src="{{'http://localhost:3000/images/' + prod.product_image}}" alt={{prod.product_name}} (click)="onClickProduct(prod.product_id)">

									<div class="block2-overlay trans-0-4">
										<a  class="block2-btn-addwishlist hov-pointer trans-0-4" (click)="addToWishlist(prod.product_id)">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="addToCart(prod.product_id)">
												Add to Cart
											</button>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20"  (click)="onClickProduct(prod.product_id)">
									<a  class="block2-name dis-block s-text3 p-b-5">
										{{prod.product_name}}
									</a>

									<span class="block2-price m-text6 p-r-5" >
										${{prod.product_price}}
									</span>
								</div>
							</div>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</section>

	<!-- <ion-fab bottom right>
			<button ion-fab>
				<ion-icon name="md-funnel"></ion-icon>
			</button>
		</ion-fab> -->
</ion-content>
<ion-footer style="background-color:transparent;padding:0px;padding-bottom: 10px;">
	
	  <ion-title></ion-title> 
	  <ion-button color="light" style="width:45%;float:left;padding-left: 10px;"><ion-icon name="md-funnel"></ion-icon>&nbsp;&nbsp;Sort</ion-button>
	  <ion-button color="light" style="width:45%;float:right;padding-right: 10px;" ><ion-icon name="ios-funnel"></ion-icon>&nbsp;&nbsp;Filter</ion-button>
	
  </ion-footer>

  